
<h1>File Upload</h1>

<% if (params[:status] == "picnotjpeg") %>
	"Invalid File: Be sure to select a JPEG-type file!"
<% elsif (params[:status] == "picnotchosen") %>
	"No file was chosen."
<% else %>
	<%= image_tag(params[:pname], :size => "300x210" )%>
 	<imc src="<%= params[:pname]%>" /> 
<% end %>


<%= form_tag({action: :uploadPicture}, multipart: true) do %>
  <%= file_field_tag 'picture' %>
  <%= submit_tag "Upload" %>
<% end %>
 
