
<h1>File Upload</h1>

<% if (params[:status] == "picnotjpeg") %>
	"Invalid File: Be sure to select a JPEG-type file!"
<% elsif (params[:status] == "picnotchosen") %>
	"No file was chosen."
<% else %>
	<%= image_tag(params[:pname] )%>
 	<imc src="<%= params[:pname]%>" /> 

	<%= image_tag(params[:pminusname] )%>
 	<imc src="<%= params[:pminusname]%>" /> 

 	<%= image_tag(params[:pplusname] )%>
 	<imc src="<%= params[:pplusname]%>" /> 
<% end %>

<%= params[:errors] %>

<%= form_tag({action: :uploadPicture}, multipart: true) do %>
  <%= file_field_tag 'picture' %>
  <%= submit_tag "Upload" %>
<% end %>
 
